## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<link rel="stylesheet" href="${static.url('css/footer.css')}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossOrigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css">
<!-- NEW IN INDIGO update footer -->
<footer id="#footer-container" class="site-footer">
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

<script>
  $(document).ready(function () {
    let primaryColor = "${settings.COLORS['primary']}"; 
    let discoveryUrl = "${settings.MKTG_URLS['ROOT']}" + "/wp-json/edly-wp-routes/footer";

    $.ajax({
      url: discoveryUrl,
      type: 'GET',
      dataType: 'json',
      xhrFields: {
        withCredentials: true
      },
      success: function(jsonData) {
        const cleanHtml = DOMPurify.sanitize(jsonData, {
          ADD_ATTR: ['target', 'class'],
        });
        $('#footer-container').html(cleanHtml);
      },
      error: function(xhr, status, error) {
        console.error('Error:', error);
        console.error('Status:', status);
        console.error('Response:', xhr.responseText);
      }
    });

    function updatePrimaryColor() {
      document.documentElement.style.setProperty(
        "--primary-color",
        primaryColor
      );
    }

    const scrollToTop = () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    };
    $(window).on('scroll', function() {
      if ($(this).scrollTop() > 200){
        $('#scrollToTop').fadeIn(); 
      } else {
        $('#scrollToTop').fadeOut();
      }
    });

    

    // Main function start here 
    $('#scrollToTop').on('click', scrollToTop);
    $('#scrollToTop').hide();
    updatePrimaryColor();
  })
</script>