// Include custom Footer
.wrapper-footer {
    padding: 0;
    border-top: 1px solid $gray-light;
}
footer.tutor-container {
    margin: 0 auto;
    padding: 0;
    max-width: none;
    box-sizing: border-box;
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:visited:not(.btn) {
        color: #fff;
      }
    }
    .copyright-site {
      font-size: 14px;
      color: #fff;
    }
}

body.indigo-dark-theme {
    .wrapper-footer {
        border-top: 1px solid $border-color-d;
        background: $body-bg-d;
    }
    footer.tutor-container {
        .logo-list {
            li {
                color: $text-color-primary;
                &:last-child {
                    &:after {
                        background: $text-color-primary;
                    }
                }
            }
        }
        .nav-colophon {
            ol {
                li {
                    a {
                        color:$text-color-primary;
                        &:hover {
                            color: $text-color-d;
                        }
                    }
                }
            }
        }
        .copyright-site {
            color: $text-color-primary;
        }
    }
}

.footer-container {
  max-width: 1600px;
  margin: 0 auto;
  line-height: 1.5;
}

.footer-social-row {
  background: $footer-social-bg;
  border-bottom: 1px solid $footer-border-color;
  padding: 20px 15px;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .privacy-nav {

    ul {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 5px 20px;
      list-style: none;
      margin: 0;
      padding: 0;

      @include media-breakpoint-up(xl) {
        gap: 30px;
      }

      li {
        white-space: nowrap;

        &::before {
          display: none;
        }
      }
    }
  }

  .logo {

    img {
      width: 85px;
    }
  }

  .social-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .logo {
      display: flex;
      align-items: center;
    }

    svg {
      display: block;
    }

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;

      li::before {
        display: none;
      }
    }
  }
}

.footer-copyright-row {
  background: $footer-copyright-bg;
  padding: 20px 15px;

  .footer-container {
    display: flex;
    justify-content: flex-end;
  }
}
