@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Header and logo */
/* :root{
    --primary-color: red;
} */

.is-btn-hidden{
  display: none;
}

.header-holder {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  box-shadow: 0 .0625rem .125rem #0003 !important;
  background: white;
}

.site-header {
  width: 100%;
  flex: inherit !important;
}

.custom-logo-link {
  margin-right: 30px;
}
.custom-logo-link img {
  margin: auto;
  max-width: 60px;
  height: auto;
  width: auto;
}

li.menu-item-object-menu_openedx {
  margin-left: auto;
}

#menu-primary-menu > li > .sub-menu {
  right: 0 !important;
}

/* Desktop Menu */
#menu-primary-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu-primary-menu > li {
  position: relative;
  padding: 10px 16px;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu {
  width: 241px;
  left: auto;
  right: 0;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li {
  margin: 4px 0;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx {
  padding: 0;
  margin: 0;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box {
  padding: 15px 16px;
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box .menu_openedx img, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box .menu_openedx img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  background: #dfdfdf;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box .info-avatar img, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box .info-avatar img {
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box .info-details, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box .info-details {
  display: flex;
  flex-direction: column;
  color: #111827;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box .info-details .info-fullname, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box .info-details .info-fullname {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.user-info-item .user-info-box .info-details .info-username, #menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.menu-item-object-user_info_openedx .user-info-box .info-details .info-username {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-left: 50px;
  border-radius: 6px;
  position: relative;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 16px;
  width: 24px;
  height: 24px;
  display: block !important;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li a:hover {
  color: #0d1321;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.dashboard_openedx a:after {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(%23clip0_1026_1768)'><path d='M10 13C10 13.5304 10.2107 14.0391 10.5858 14.4142C10.9609 14.7893 11.4696 15 12 15C12.5304 15 13.0391 14.7893 13.4142 14.4142C13.7893 14.0391 14 13.5304 14 13C14 12.4696 13.7893 11.9609 13.4142 11.5858C13.0391 11.2107 12.5304 11 12 11C11.4696 11 10.9609 11.2107 10.5858 11.5858C10.2107 11.9609 10 12.4696 10 13Z' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M13.4502 11.55L15.5002 9.5' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M6.4 20C4.93815 18.8381 3.87391 17.2502 3.35478 15.4565C2.83564 13.6627 2.88732 11.7519 3.50265 9.98881C4.11797 8.22573 5.26647 6.69771 6.78899 5.6165C8.3115 4.53529 10.1326 3.95444 12 3.95444C13.8674 3.95444 15.6885 4.53529 17.211 5.6165C18.7335 6.69771 19.882 8.22573 20.4974 9.98881C21.1127 11.7519 21.1644 13.6627 20.6452 15.4565C20.1261 17.2502 19.0619 18.8381 17.6 20H6.4Z' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1026_1768'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>") no-repeat center/contain;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.programs_dashboard_openedx a:after {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(%23clip0_1026_1809)'><path d='M3 19C4.36817 18.2101 5.92017 17.7942 7.5 17.7942C9.07983 17.7942 10.6318 18.2101 12 19C13.3682 18.2101 14.9202 17.7942 16.5 17.7942C18.0798 17.7942 19.6318 18.2101 21 19' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 6.00001C4.36817 5.21009 5.92017 4.79424 7.5 4.79424C9.07983 4.79424 10.6318 5.21009 12 6.00001C13.3682 5.21009 14.9202 4.79424 16.5 4.79424C18.0798 4.79424 19.6318 5.21009 21 6.00001' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M3 6V19' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M12 6V19' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M21 6V19' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1026_1809'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>") no-repeat center/contain;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.profile_openedx a:after {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(%23clip0_1026_664)'><path d='M8 7C8 8.06087 8.42143 9.07828 9.17157 9.82843C9.92172 10.5786 10.9391 11 12 11C13.0609 11 14.0783 10.5786 14.8284 9.82843C15.5786 9.07828 16 8.06087 16 7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7Z' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1026_664'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>") no-repeat center/contain;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.account_openedx a:after {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(%23clip0_1026_1026)'><path d='M10.325 4.317C10.751 2.561 13.249 2.561 13.675 4.317C13.7389 4.5808 13.8642 4.82578 14.0407 5.032C14.2172 5.23822 14.4399 5.39985 14.6907 5.50375C14.9414 5.60764 15.2132 5.65085 15.4838 5.62987C15.7544 5.60889 16.0162 5.5243 16.248 5.383C17.791 4.443 19.558 6.209 18.618 7.753C18.4769 7.98466 18.3924 8.24634 18.3715 8.51677C18.3506 8.78721 18.3938 9.05877 18.4975 9.30938C18.6013 9.55999 18.7627 9.78258 18.9687 9.95905C19.1747 10.1355 19.4194 10.2609 19.683 10.325C21.439 10.751 21.439 13.249 19.683 13.675C19.4192 13.7389 19.1742 13.8642 18.968 14.0407C18.7618 14.2172 18.6001 14.4399 18.4963 14.6907C18.3924 14.9414 18.3491 15.2132 18.3701 15.4838C18.3911 15.7544 18.4757 16.0162 18.617 16.248C19.557 17.791 17.791 19.558 16.247 18.618C16.0153 18.4769 15.7537 18.3924 15.4832 18.3715C15.2128 18.3506 14.9412 18.3938 14.6906 18.4975C14.44 18.6013 14.2174 18.7627 14.0409 18.9687C13.8645 19.1747 13.7391 19.4194 13.675 19.683C13.249 21.439 10.751 21.439 10.325 19.683C10.2611 19.4192 10.1358 19.1742 9.95929 18.968C9.7828 18.7618 9.56011 18.6001 9.30935 18.4963C9.05859 18.3924 8.78683 18.3491 8.51621 18.3701C8.24559 18.3911 7.98375 18.4757 7.752 18.617C6.209 19.557 4.442 17.791 5.382 16.247C5.5231 16.0153 5.60755 15.7537 5.62848 15.4832C5.64942 15.2128 5.60624 14.9412 5.50247 14.6906C5.3987 14.44 5.23726 14.2174 5.03127 14.0409C4.82529 13.8645 4.58056 13.7391 4.317 13.675C2.561 13.249 2.561 10.751 4.317 10.325C4.5808 10.2611 4.82578 10.1358 5.032 9.95929C5.23822 9.7828 5.39985 9.56011 5.50375 9.30935C5.60764 9.05859 5.65085 8.78683 5.62987 8.51621C5.60889 8.24559 5.5243 7.98375 5.383 7.752C4.443 6.209 6.209 4.442 7.753 5.382C8.753 5.99 10.049 5.452 10.325 4.317Z' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12Z' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1026_1026'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>") no-repeat center/contain;
}
#menu-primary-menu > li.menu-item-object-menu_openedx ul.sub-menu li.signout_openedx a:after {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'><g clip-path='url(%23clip0_1026_750)'><path d='M7 6C5.78639 7.02477 4.91697 8.39771 4.50943 9.93294C4.10189 11.4682 4.17592 13.0915 4.7215 14.5833C5.26708 16.0751 6.25786 17.3632 7.55971 18.2732C8.86156 19.1833 10.4116 19.6714 12 19.6714C13.5884 19.6714 15.1384 19.1833 16.4403 18.2732C17.7421 17.3632 18.7329 16.0751 19.2785 14.5833C19.8241 13.0915 19.8981 11.4682 19.4906 9.93294C19.083 8.39771 18.2136 7.02477 17 6' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path d='M12 4V12' stroke='%23111827' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1026_750'><rect width='24' height='24' fill='white'/></clipPath></defs></svg>") no-repeat center/contain;
}
#menu-primary-menu > li.menu-item-has-children a:after {
  display: none !important;
}
#menu-primary-menu > li a {
  color: #0d1321;
  text-decoration: none;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid transparent;
  transition: color 0.25s ease, border-color 0.25s ease;
  position: relative;
  display: block;
  padding-bottom: 0px;
  border: 0px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
#menu-primary-menu > li a:before {
  content: "";
  background-color: var(--primary-color);
  width: auto;
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  opacity: 0;
}
#menu-primary-menu > li:hover > a, #menu-primary-menu > li.menu-active > a {
  color: var(--primary-color);
}
@media (min-width: 1231px) {
  #menu-primary-menu > li:hover > a:before, #menu-primary-menu > li.menu-active > a:before {
    opacity: 1;
  }
}
#menu-primary-menu > li.menu-item-has-children > a::after, #menu-primary-menu > li.menu-item-object-custom_link_filter > a::after, #menu-primary-menu > li.submenu-item-class > a::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M9 6l6 6l-6 6'/></svg>");
  font-size: 0.95em;
  margin-left: 0.4em;
  display: inline-block;
  transform: rotate(90deg);
  transition: transform 0.25s ease;
}
@media (max-width: 1230px) {
  #menu-primary-menu > li.menu-item-has-children > a::after, #menu-primary-menu > li.menu-item-object-custom_link_filter > a::after, #menu-primary-menu > li.submenu-item-class > a::after {
    display: none;
  }
}
#menu-primary-menu > li:hover > a::after {
  transform: rotate(90deg) translateX(2px);
}
#menu-primary-menu > li > .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  list-style: none;
  min-width: 270px;
  padding: 8px;
  z-index: 10;
}
#menu-primary-menu > li > .sub-menu > li {
  position: relative;
  list-style: none;
}
#menu-primary-menu > li > .sub-menu > li a {
  display: block;
  color: #0d1321;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  transition: background 0.25s ease, color 0.25s ease;
}
#menu-primary-menu > li > .sub-menu > li a:hover {
  background: color-mix(in srgb, var(--primary-color) 5%, white 94%);
  color: var(--primary-color);
}
@media (max-width: 1230px) {
  #menu-primary-menu > li > .sub-menu > li a:hover {
    background: transparent;
  }
}
#menu-primary-menu > li > .sub-menu > li.submenu-item-class > a::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M9 6l6 6l-6 6'/></svg>");
  float: right;
  margin-top: 4px;
  font-size: 0.95em;
}
@media (max-width: 1230px) {
  #menu-primary-menu > li > .sub-menu > li.submenu-item-class > a::after {
    display: none;
  }
}
#menu-primary-menu > li > .sub-menu > li .sub-menu {
  display: none;
  position: absolute;
  top: -5px;
  left: 94%;
  margin-left: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  background: #ffffff;
  min-width: 200px;
  list-style: none;
  padding: 8px;
}
#menu-primary-menu > li > .sub-menu > li:hover > .sub-menu {
  display: block;
}
#menu-primary-menu > li:hover > .sub-menu {
  display: block;
  margin: 0px;
}
#menu-primary-menu .user-profile-wrap:hover {
  text-decoration: none;
}
#menu-primary-menu .user-profile-wrap::before {
  display: none;
}
#menu-primary-menu .user-profile-wrap img {
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}
#menu-primary-menu .user-profile-wrap span {
  display: none;
}

.indigo-mobile-menu .site-header {
  background: white;
  flex: inherit;
  position: absolute;
  top: 100px;
  left: 0;
  box-sizing: border-box;
}
.indigo-mobile-menu .site-header #menu-primary-menu {
  flex-direction: column;
  text-align: left;
}
.indigo-mobile-menu .site-header {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}
.indigo-mobile-menu.mobile-hide .site-header {
  opacity: 0;
  visibility: hidden;
}

.menuOpner {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 100;
  box-shadow: none !important;
  outline: none !important;
}

.menuOpner:active, .menuOpner:focus{
  box-shadow: none !important;
  outline: none !important;
}

.header-frame {
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* Desktop: Keep Sign In button on the right */
@media (min-width: 1231px) {

  #menu-primary-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #menu-primary-menu > li.menu-item-object-signin_openedx {
    margin-left: auto;
    order: 999;
    padding-right: 10px !important;
  }
  #menu-primary-menu > li.menu-item-object-signin_openedx a {
    color: #fff;
    background: var(--primary-color);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold !important;
  }
  #menu-primary-menu > li.menu-item-object-signin_openedx a:before {
    display: none;
  }
}
@media (max-width: 1280px) {
  .custom-logo-link {
    margin-right: 10px;
  }
  #menu-primary-menu > li {
    padding: 10px 12px;
  }
}
/* Mobile Menu */
@media (max-width: 1230px) {
  .window-wrap #content.content-wrapper{
    margin-top: 64px !important;
  }

  .header-holder {
    position: static;
    justify-content: center;
    margin-top: 0px;
  }
  .custom-logo-link img {
    max-width: 160px;
    max-height: 50px;
  }
  .indigo-mobile-menu .site-header {
    top: 70px;
    padding: 0;
  }
  #menu-primary-menu > li {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
  }
  #menu-primary-menu > li > .sub-menu {
    position: static;
    display: block;
    padding: 0 0 0 10px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  #menu-primary-menu > li > .sub-menu > li .sub-menu {
    position: static;
    display: block;
    padding: 0 0 0 20px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  .main-navigation .menu-toggle {
    display: flex;
  }
  .main-navigation #menu-primary-menu {
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    /* position: absolute; */
    top: 100%;
    left: 0;
    padding: 1rem 0;
    /* display: none; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border-top: 1px solid #d1d5db;
  }
  .main-navigation #menu-primary-menu.open {
    display: flex;
  }
  .main-navigation #menu-primary-menu > li {
    width: 100%;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #d1d5db;
  }
  .main-navigation #menu-primary-menu > li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-navigation #menu-primary-menu > li .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #ffffff;
    padding-left: 1rem;
    display: none;
    list-style: none;
  }
  .main-navigation #menu-primary-menu > li .sub-menu li a {
    padding: 0.5rem 1rem;
    transition: background 0.25s ease, color 0.25s ease;
  }
  .main-navigation #menu-primary-menu > li .sub-menu li a:hover {
    background: color-mix(in srgb, var(--primary-color) 5%, white 94%);
    color: var(--primary-color);
  }
  .main-navigation #menu-primary-menu > li:hover > .sub-menu {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
